PORT=8000
NODE_ENV=production
# Vercel Dashboard mein ise apne React App ke real URL se badal dein
CLIENT_ENDPOINT="https://whatsapp-web-ritesh.vercel.app"

# Compass wala sahi string
DATABASE_URL="mongodb+srv://myAppUser:PR0ycIZG8AfxfiW1@cluster0.9fxz7db.mongodb.net/whatsapp_clone?retryWrites=true&w=majority"

# Ye secrets login/register ke liye bahut zaroori hain
ACCESS_TOKEN_SECRET="asvpbsG5zKZFWhU7aFvgyA5rpfB1u6aacn8qaalFFXJRFu9Ut7GL9avqGaSyHAVZeDdyfCOU18jp4IhvJ9ASBvBVJytep7FY6VCQaUhG"
REFRESH_TOKEN_SECRET="cdfJcpeJCakzQYioLH4NR5a8UITDDdGSciPO3VYq1UO9J8vkSjUpzo4RyE068NL6gzm5WTZXXqYPs0KkImVZPDHSqE9JdXV32Spm6XamuK8fYiMNvm1hoB1DLP63KlDGoDjy8hCa9guyCXgAWbIcflK9AnZ3Fryig1gEm0y"

# Cloudinary settings (Bina iske profile picture upload fail ho jayegi)
CLOUD_NAME="dntc2eju2"
CLOUD_API_KEY="236357798788237"
CLOUD_API_SECRET="Jb5lhD7rGOoRgsKXqpEQAvjWV9Y"

DEFAULT_GROUP_PICTURE="https://res.cloudinary.com/dntc2eju2/image/upload/v1/default_group.png"
DEFAULT_PICTURE="https://res.cloudinary.com/dntc2eju2/image/upload/v1/default_user.png"
DEFAULT_STATUS="Hey there! I am using WhatsApp."

# Frontend ke liye backend ka naya address
REACT_APP_API_ENDPOINT="https://whatsappbackend-six.vercel.app/api/v1"