PORT=8000
NODE_ENV=production

# --- IMP: Screenshot ke hisaab se ye URL hona chahiye ---
CLIENT_ENDPOINT="https://whatsappweb-gilt.vercel.app"

# Database Connection
DATABASE_URL="mongodb+srv://myAppUser:PR0ycIZG8AfxfiW1@cluster0.9fxz7db.mongodb.net/whatsapp_clone?retryWrites=true&w=majority"

# JWT Secrets
ACCESS_TOKEN_SECRET="asvpbsG5zKZFWhU7aFvgyA5rpfB1u6aacn8qaalFFXJRFu9Ut7GL9avqGaSyHAVZeDdyfCOU18jp4IhvJ9ASBvBVJytep7FY6VCQaUhG"
REFRESH_TOKEN_SECRET="cdfJcpeJCakzQYioLH4NR5a8UITDDdGSciPO3VYq1UO9J8vkSjUpzo4RyE068NL6gzm5WTZXXqYPs0KkImVZPDHSqE9JdXV32Spm6XamuK8fYiMNvm1hoB1DLP63KlDGoDjy8hCa9guyCXgAWbIcflK9AnZ3Fryig1gEm0y"

# Cloudinary Config
CLOUD_NAME="dntc2eju2"
CLOUD_API_KEY="236357798788237"
CLOUD_API_SECRET="Jb5lhD7rGOoRgsKXqpEQAvjWV9Y"

# Default Assets
DEFAULT_GROUP_PICTURE="https://res.cloudinary.com/dntc2eju2/image/upload/v1/default_group.png"
DEFAULT_PICTURE="https://res.cloudinary.com/dntc2eju2/image/upload/v1/default_user.png"
DEFAULT_STATUS="Hey there! I am using WhatsApp."