PORT=8000
NODE_ENV=production
# Local test ke liye http://localhost:3000 rehne dein, 
# par Vercel Dashboard mein ise apne React App ke URL se badal dein.
CLIENT_ENDPOINT="https://whatsapp-web-ritesh.vercel.app"

# Database name verify karein (whatsapp vs whatsapp_clone)
DATABASE_URL="mongodb+srv://myAppUser:PR0ycIZG8AfxfiW1@cluster0.9fxz7db.mongodb.net/whatsapp_clone?retryWrites=true&w=majority"

ACCESS_TOKEN_SECRET="asvpbsG5zKZFWhU7aFvgyA5rpfB1u6aacn8qaalFFXJRFu9Ut7GL9avqGaSyHAVZeDdyfCOU18jp4IhvJ9ASBvBVJytep7FY6VCQaUhG"
REFRESH_TOKEN_SECRET="cdfJcpeJCakzQYioLH4NR5a8UITDDdGSciPO3VYq1UO9J8vkSjUpzo4RyE068NL6gzm5WTZXXqYPs0KkImVZPDHSqE9JdXV32Spm6XamuK8fYiMNvm1hoB1DLP63KlDGoDjy8hCa9guyCXgAWbIcflK9AnZ3Fryig1gEm0y"

DEFAULT_GROUP_PICTURE="https://res.cloudinary.com/dntc2eju2/image/upload/v1/default_group.png"
DEFAULT_PICTURE="https://res.cloudinary.com/dntc2eju2/image/upload/v1/default_user.png"
DEFAULT_STATUS="Hey there! I am using WhatsApp."

CLOUD_NAME="dntc2eju2"
CLOUD_API_KEY="236357798788237"
CLOUD_API_SECRET="Jb5lhD7rGOoRgsKXqpEQAvjWV9Y"

# Frontend ke liye updated endpoint
REACT_APP_CLOUD_NAME="dntc2eju2"
REACT_APP_CLOUD_PRESET="whatsapp_clone"
REACT_APP_API_ENDPOINT="https://whatsappbackend-six.vercel.app/api/v1"